$donkerBlue : #0e1d36;
$PureBlack : #000;
$gray : #777;

// Slide 1
$color1 : #d9b79a;
$color2 : #f2efeb;
$color3 : #bf7960;
$color4 : #59291e;
$color5 : #a65644;

// Slide 2
$color6 : #bf9d7e;
$color7 : #40281a;
$color8 : #bf7d56;
$color9 : #bf6849;
$color10 : #d99982;

